.field {
    z-index: -1;
    display: inline-block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.customInput {
    
    display:block;
    position: relative;
    outline: 0;
    border-width: 0 0 2px;
    border-color: grey;
    font-family: Comic Sans MS;
}

.customLabel {
    position: absolute;
    transform: translateY(-25px);
    display:block;
    transition: all 0.3s ease-in;
    pointer-events: none;
    color: grey;
}

.customInput:focus {
    outline: 0;
    border-width: 0 0 2px;
    border-color: red
 
}

.customInput:valid + .customLabel,
.customInput:focus + .customLabel {
    transform: scale(0.8) translate(-11%, -230%);
    color: red;
    
    
}

 .customInput:not(:focus):valid + .customLabel
{
    transform: scale(0.8) translate(-11%, -230%);
    color: grey;
    
    
}