.DogsApp {
    margin-left: 50px;
    font-family: Comic Sans MS;
}

.DogList{
    display: inline-block;
}

.DogsBreedList{
    display: inline-block;
    overflow: hidden;
    padding: 5px;
    margin: 0.5rem;
    border: none;
    border-radius: 5px;
    background-color: #ff4d4d;
    color: #fff;
}

.DogsBreedList:hover{
    background: rgb(90, 86, 86) !important;
}

.center {
    text-align:center ;
} 

.breed {
    position: relative;
    font-family: Comic Sans MS;
    text-align:center;
    margin-top: 10px;
    
}

.dogsBreed {
    overflow: hidden;
    padding: 5px;
    margin: 2rem;
    border: none;
    border-radius: 5px;

}

.dog-img {
    overflow: hidden;
    padding: 5px;
    margin: 2rem;
    border: none;
    border-radius: 7px;
    background-color: #ff4d4d;
    color: #fff;
}

.dog-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* CSS Hack will make it width 100% and height 100% */
    position: relative;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    /* Maintain aspect ratio */
    object-fit: cover;
    max-height: 70%;
    max-width: 100%;
    
}

@media (max-width: 480px) {
.dog-img {
    width: 260px;
}
}

@media (min-width: 480px) and (max-width: 786px) {
.dog-img {
    width: 400px;
}
}

@media (min-width: 786px) {
.dog-img {
    width: 200px;
    height: 200px;
}
}
